/**************************************************************
 Name: Yolanda Gunter
 Assignment: Final Project
 Purpose: CodeIgniter, jQuery and Boostrap
 Notes: Pulling everything I've learned together for my Final Project
 **************************************************************/


/*
***************************************
Mobile First CSS
***************************************
*/



/*
***************************************
Media Queries
***************************************
*/

/*this is for tablet*/
@media (min-width: 468px) and (max-width: 768px) {


}

/*this is for desktop*/
@media (min-width: 768px) {


}
